@model IEnumerable<PlannerProject.Models.Child>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome!</h1>

<p>
    <a asp-action="CreateChild"style="float:right">Add Child</a>
    <a asp-action="CreateParentsTask"style="float: right; margin-right: 10px;">Make Parent List</a>
    <a asp-action="ViewParentsTask"style="float: right; margin-right: 10px;">View Parent Lists</a>
    @*<a asp-action="DetailsParent" asp-route-id="@models.Parent.Id">Your Details</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="CreateChoreList" asp-route-id="@item.Id">Add Chore</a> |
                    <a asp-action="ViewChores" asp-route-id="@item.Id">View Chores</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
