@model IEnumerable<PlannerProject.Models.ParentTaskVM>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h1>@Html.DisplayFor(modelItem => item.ParentsTaskVM.Title)</h1>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentsTaskVM.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentsTaskVM.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentItemVM.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentsTaskVM.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentsTaskVM.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentItemVM.Name)
                </td>
                <td>
                    <a asp-action="CreateParentItem" asp-route-id="@item.ParentItemVM">Add Item</a> |
                </td>
            </tr>
        }
    </tbody>
</table>