@model IEnumerable<PlannerProject.Models.ChoreVM>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Chores</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h1>@Html.DisplayFor(modelItem => item.ChoreItemVM.Name)</h1>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChoreItemVM.isCompleted)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoreItemVM.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoreItemVM.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoreListVM.Reward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoreListVM.DayOfWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreItemVM.isCompleted)
            </td>
            <td>
                <a asp-action="isCompleted" asp-route-id="@item.ChoreItemVM.Id">Chore Complete</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreItemVM.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreItemVM.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreListVM.Reward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreListVM.DayOfWeek)
            </td>
        </tr>
        }
    </tbody>
</table>